@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 768px) {
  .calc-body {
    max-height: 50vh;
  }

  .calc-title {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  .calc-body {
    position: absolute;
    bottom: 0;
  }
}
